[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
django = "*"
psycopg2 = "*"
django-rest-framework = "*"
django-webpack-loader = "*"
pandas = "*"
django-extensions = "*"
